.swiper-page {
    .swiper-slide {
        background: none;
        min-height: unset;
    }

    .swiper-pagination {
        position: static;
        margin-top: 50px;
        --swiper-pagination-bullet-width: 12px;
        --swiper-pagination-bullet-height: 12px;
        --swiper-pagination-color: var(--color-white);
        --swiper-pagination-bullet-inactive-color: var(--color-white);
        --swiper-pagination-bullet-border-radius: 0;
        --swiper-pagination-bullet-horizontal-gap: 10px;
    }

    .swiper-pagination-bullet {
        transform: rotate(45deg);
        opacity: 0.4;
        transition: opacity 0.3s ease;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
    }
}
