.footer {
    padding: 80px 110px;
    text-align: center;

    h2 {
        margin: 0;
        color: rgba(255, 255, 255, 0.55);
    }

    p {
        font-size: 18px;
        color: rgba(255, 255, 255, 0.55);
    }

    .icon {
        width: 48px;
        height: 48px;
        color: rgba(255, 255, 255, 0.55);
    }

    .reseaux-sociaux {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: var(--spacing-sm);
    }
}
