.section {
    padding: 80px 0;
    p {
        margin-bottom: 24px;
    }
}

.surtitle {
    font-size: var(--font-size-surtitle);
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 16px;
    color: var(--color-white);
}

.tag {
    text-transform: uppercase;
    font-size: 18px;
    color: var(--color-white);
}

span {
    font-weight: 600;
    color: var(--color-white);
}
