.tp {
    padding: 80px 110px;
    background-color: var(--color-primary);

    h2 {
        color: var(--color-black);
    }

    p {
        color: var(--color-black);
    }

    span {
        color: var(--color-black);
    }

    a {
        background-color: var(--color-white);

        &:hover {
            background-color: var(--color-black);
            color: var(--color-white);
        }
    }
}
