{% include "_partials/_header.html" %}

<!-- Votre contenu ici -->

<section class="hero section">
    <div class="wrapper">
        <div class="hero__media">
            <img src="assets/images/hero.jpg" alt="" />
        </div>
        <div class="hero__content">
            <h1>Mon cahier d'exercice</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="wrapper">
        <h2>
            Mes premiers
            <span>laboratoires</span>
        </h2>
        <div class="cards">
            <div class="card">
                <div class="card__media">
                    <img src="assets/images/revision.jpg" alt="Laboratoire 1" />
                </div>
                <div class="card__content">
                    <p class="surtitle">Sem 01-Révision</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + CSS</p>
                    <a href="https://cbilodeau.dectim.ca/cours/cw3/sem01/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-fleche"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/timtools.jpg" alt="Laboratoire 2" />
                </div>
                <div class="card__content">
                    <p class="surtitle">Sem 02 - TimTools</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">SCSS</p>
                    <a href="https://cbilodeau.dectim.ca/cours/cw3/sem02/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-fleche"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/louilajoie.jpg" alt="Laboratoire 3" />
                </div>
                <div class="card__content">
                    <p class="surtitle">03 - Laboratoire intro</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">HTML + SCSS</p>
                    <a href="https://cbilodeau.dectim.ca/cours/cw3/sem03/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-fleche"></use>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card__media">
                    <img src="assets/images/iconesclasses.jpg" alt="Laboratoire 4" />
                </div>
                <div class="card__content">
                    <p class="surtitle">Sem 04 - Icônes et classes JS</p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur
                        <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                    </p>
                    <p class="tag">Scss + Javascript</p>
                    <a href="https://cbilodeau.dectim.ca/cours/cw3/sem04/">
                        Voir le laboratoire
                        <svg class="icon">
                            <use href="#icon-fleche"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section tp">
    <div class="wrapper">
        <h2>
            Mes
            <span>laboratoires réactifs</span>
        </h2>
        <div class="swiper swiper-page js-swiper-page">
            <div class="swiper-wrapper">
                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/responsive1.jpg" alt="Laboratoire 5" />
                    </div>
                    <div class="card__content">
                        <p class="surtitle">Sem 07 - Site réactifs</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="tag">SCSS</p>
                        <a href="https://cbilodeau.dectim.ca/cours/cw3/sem07/">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/responsive2.jpg" alt="Laboratoire 6" />
                    </div>
                    <div class="card__content">
                        <p class="surtitle">Sem 08 - Site réactif 2</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="tag">HTML + SCSS</p>
                        <a href="https://cbilodeau.dectim.ca/cours/cw3/sem08/">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                </div>

                <div class="card swiper-slide">
                    <div class="card__media">
                        <img src="assets/images/swiper.jpg" alt="Laboratoire 7" />
                    </div>
                    <div class="card__content">
                        <p class="surtitle">Sem 09 - Swiper</p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur
                            <span>adipiscing elit. Ultrices lorem non feugiat egestas amet.</span>
                        </p>
                        <p class="tag">SCSS + JavaScript</p>
                        <a href="https://cbilodeau.dectim.ca/cours/cw3/sem09/">
                            Voir le laboratoire
                            <svg class="icon">
                                <use href="#icon-fleche"></use>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>

{% include "_partials/_footer.html" %}
